<nav class="navbar sticky-top bg-light px-5 border-bottom border-top">
    <div class="container-fluid">
      <div>
        <a class="navbar-brand">Bank Name</a>
      </div>
      <div class="nav-itm d-flex">
        
      {% if current_user.user_type == 1 %}
      <a class="nav-link" href="{{url_for('admin_bp.home')}}">Home</a>
      {% endif %}
      {% if current_user.user_type == 0 %}
      <a class="nav-link" href="{{url_for('officer_bp.home')}}">Home</a>
      {% endif %}
      <a class="nav-link mx-3" href="{{url_for('common_bp.logout')}}">Logout</a>
      </div>
      <!--
      <div class="nav-item dropdown">
        <button class="nav-link dropdown-toggle" href="{{url_for('common_bp.logout')}}" data-bs-toggle="dropdown" aria-expanded="false">Logout</button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="#">Home</a></li>
          <li><a class="dropdown-item" href="{{url_for('common_bp.logout')}}">Log Out</a></li>
        </ul>
      </div>

      -->
    </div>
  </nav>