<!DOCTYPE html>

<html lang="en">

<head>
    {% include 'components/header.html '%}
    <title>View | Blacklisted Customers</title>
</head>

<body>
  {% include "components/navbar.html" %}

  <div class="mb-5 mt-4">
    <p class="h4 center text-center ">VIEW BLACKLISTED CUSTOMERS</p>
  </div>

  <div class="container my-3">
    <div class="row justify-content-end">
      <div class="col-3">
        <div class="input-group mx-0">
          <input type="text" class="form-control" id="search_text_blacklisted" name="search_text_blacklisted">
          <div class="input-group-text">
            <i class="fa fa-search" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <table class="table table-bordered text-center">
      <thead>
        <tr class="table-dark">
          <th scope="col">No</th>
          <th scope="col">CIF No</th>
          <th scope="col">Description</th>
          <th scope="col">Inserted By</th>
          <th scope="col">Time</th>
        </tr>
      </thead>
      <tbody id="customer_table_body">
        {% for customer in customers %}
          
        <tr class="clickable-row" data-href="{{ url_for('common_bp.blacklisted_customer_details', cif_no=customer[0]) }}">
          <td>{{ loop.index }}</td>
          <td>{{ customer[0] }}</td>
          <td>{{ customer[1] }}</td>
          <td>{{ customer[2] }}</td>
          <td>{{ customer[3] }}</td>
      </tr>
          
        {% endfor %}
      </tbody>
    </table>
  </div>


  {% include 'components/footer.html' %}
    <div class="fixed-bottom d-flex justify-content-start p-3 ml-3 mb-3">
      <div id="data-div" class="btn btn-danger"></div>
    </div>
    <script src="{{ url_for('static', filename='js/new-alert.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ url_for('static', filename='js/script-blacklisted.js') }}"></script> 

</body>
</html>