.card{
    cursor: pointer;
    text-decoration: none;
}
.card:hover{
    background-color: rgb(236, 236, 236);
}
.card:active{
    background-color: rgb(255, 255, 255);
}
p,h1,h2,h3,h4,h5,label,a,button{
    user-select: none;
}
table{
    user-select: none;
}
.input-group-text{
    cursor: pointer;
}
.input-group-text:hover{
    background-color: rgb(236, 236, 236);
}
.input-group-text:active{
    background-color: rgb(255, 255, 255);
}

.clickable-row {
    cursor: pointer;
  }

.floating-nav{
    z-index: 1;
   width: 75px;
   background-color: transparent;
   position: fixed;
   bottom: 100px;
   margin: 10px 5px 10px 10px;
   padding: 25px 5px;
   color: black;

}

#floatingNavLinks{
    background-color: white;
    display: flex;
    border-radius: 10px;
    padding: 5px 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.3s ease, transform 0.3s ease;
 }

#floatingNavLinks a{
    margin-top: 5px;
    padding: 5px 5px;
    margin-bottom: 5px;
    border-radius: 50px;
    transition: 0.5s;
}

#floatingNavLinks a:hover{
    background-color: rgb(231, 231, 231);
}

.floating-nav .btn{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 2px;
    border-radius: 50px;
    transition: 1s;
    opacity: 0.3;
}

.floating-nav .btn:hover{
    opacity: 1;
    background-color: rgb(196, 196, 196);
}

#floatingNavLinks.hidden {
    pointer-events: none; 
}

#floatingNavLinks.visible {
    opacity: 1;
    transform: translateX(0);
  }


.swal2-confirm, .swal2-cancel {
    width: 120px;  
    font-weight: bold;
    background-color: transparent;
    border: 2px solid #545454;
    color: #545454;
}

#data-div{
    padding: 0;
    background-color: transparent;
    color: red;
    font-weight: 900;
    border: none;
    text-decoration: underline;
    font-size: large;
    
}