<!DOCTYPE html>

<html lang="en">

<head>
    {% include 'components/header.html '%}
    <title>Insert | Blacklisted Customers</title>
</head>

<body>
  {% include "components/navbar.html" %}



    <div class="container mt-5 mb-3 p-3">
        <div class="mx-auto shadow px-5 pt-4 pb-4 border rounded" style="width: 400px;">
            <p class="h5 center text-center">INSERT BLACKLISTED CUSTOMERS</p>
      
            <form class="row g-3 needs-validation mt-2" method="POST" enctype="multipart/form-data" novalidate>
              
              <div>
                <label for="cif_no" class="form-label">CIF Number</label>
                <input type="text" class="form-control" id="cif_no" name="cif_no" pattern="\d{5}" required>
                <div class="invalid-feedback">
                  Please enter a valid CIF number.
                </div>
              </div>

              <div>
                <label for="image" class="form-label">Image</label>
                <input type="file" class="form-control" id="image" name="image"  accept="image/*" required>
                <div class="invalid-feedback">
                  Please choose a Image.
                </div>
              </div>

              <div>
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" rows="2" required></textarea>
                <div class="invalid-feedback">
                  Please provide a valid description.
                </div>
              </div>

              <div class="d-grid mt-4 mb-3">
                <button class="btn btn-dark py-2 fw-bold" type="submit">INSERT</button>
              </div>
            </form>
      
          </div>
    </div>

    {% include 'components/footer.html' %}
    <div class="fixed-bottom d-flex justify-content-start p-3 ml-3 mb-3" style="right: auto;">
    <a href="{{url_for('common_bp.view_alerts')}}">
        <div id="data-div" class="btn btn-danger"></div>
      </a>
  </div>
  
    <script src="{{ url_for('static', filename='js/new-alert.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
</body>
</html>