<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    {% set login = 1 %}
    {% include 'components/footer.html'%}
    <div class="fixed-bottom d-flex justify-content-start p-3 ml-3 mb-3" style="right: auto;">
    <a href="{{url_for('common_bp.view_alerts')}}">
        <div id="data-div" class="btn btn-danger"></div>
      </a>
  </div>
  
</body>
</html>